@model inVent.Models.ItemModels.ItemDetail

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<div>
    <h4>ItemDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackSize)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemNumber}) |
    @Html.ActionLink("Back to List", "Index")
</p>
