@model IEnumerable<inVent.Models.ItemModels.ItemListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Item Index</h2>

<p  class="create">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackSize)
        </td>
        <td class="listbuttons">
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("President"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemNumber })
            }
            |
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("President"))
            {
                @Html.ActionLink("Details", "Display", new { id = item.ItemNumber })
            }
            |
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("President"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemNumber })
            }
            </td>
    </tr>
}

</table>
