<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title inVent the Space Age Baking Company</title>
    @Styles.Render("~/Content/css")
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/Content/Site.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    @*Fonts*@
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://pngimg.com/uploads/rusk/rusk_PNG21.png" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*Navigation*@
    <div class="navbar-fixed-top right">
        <div class="container">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <br />
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                @Html.ActionLink("inVent", "Index", "Home", null, new { @style= "font-family: 'Fjalla One', sans-serif; font - size: 80px;" })
            </div>

            <br />
            <ul class="list-unstyled components">

                <li class="active">
                    <a href="#facilitySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Facilities</a>
                    <ul class="collapse list-unstyled" id="facilitySubmenu">
                        <li>
                            @Html.ActionLink("All Facilities", "Index", "Facility")
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Sales Manager") || User.IsInRole("President"))
                        {
                            <li>
                                @Html.ActionLink("Create New Facility", "Create", "Facility")
                            </li>
                            <li>
                                @Html.ActionLink("Closed Facilities", "ClosedFacilitiesList", "Facility")
                            </li>
                        }
                        </ul>
                </li>
                <li class="active">
                    <a href="#itemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Items</a>
                    <ul class="collapse list-unstyled" id="itemSubmenu">
                        <li>
                            @Html.ActionLink("All Items", "Index", "Item")
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Sales Manager") || User.IsInRole("President"))
                        {
                            <li>
                                @Html.ActionLink("Create New Item", "Create", "Item")
                            </li>
                        }
                        </ul>
                </li>
                <li class="active">
                    <a href="#inventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inventories</a>
                    <ul class="collapse list-unstyled" id="inventorySubmenu">
                        <li>
                            @Html.ActionLink("All Inventories", "Index", "Inventory")
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Sales Manager") || User.IsInRole("President"))
                        {
                            <li>
                                @Html.ActionLink("Create New Inventory", "Create", "Inventory")
                            </li>
                        }
                        </ul>
                </li>
                <li class="active">
                    <a href="#saleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sales</a>
                    <ul class="collapse list-unstyled" id="saleSubmenu">
                        <li>
                            @Html.ActionLink("All Sales", "Index", "Sale")
                        </li>
                        <li>
                            @Html.ActionLink("Create New Sale", "Create", "Sale")
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">

        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - inVent, the first Intergalactic Bakery</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
