@model IEnumerable<inVent.Models.SaleModels.SaleListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Sale List</h2>

<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert-danger" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Salesman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Facility.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantitySold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Salesman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.Facility.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.Item.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Inventory.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantitySold)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.SaleTotal)
        </td>

        <td class="listbuttons">
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("President"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.SaleId })
            }
            |
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("President"))
            {

                @Html.ActionLink("Details", "SalesDetails", new { id = item.SaleId })
            }
            |
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("President"))
            {

                @Html.ActionLink("Delete", "Delete", new { id = item.SaleId })
            }
        </td>|
       |
    
    </tr>
    }
</table>
