@model IEnumerable<inVent.Models.SaleModels.SaleListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Salesman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Facility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantitySold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Salesman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantitySold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.InventoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId })
        </td>
    </tr>
}

</table>
