@model inVent.Models.SaleModels.SaleDetail

@{
    ViewBag.Title = "SalesDetails";
}

<h2>Sales Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleId)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Salesman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salesman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantitySold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantitySold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleTotal)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.SaleTotal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
